[*.{js,jsx,ts,tsx,vue}]
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line=lf

[*.{vue}]
indent_style = tab
indent_size = 2

[*.{js,jsx,ts,tsx}]
indent_style = tab
indent_size = 4
